*{
  margin: 0;
  padding: 0;
  max-zoom: 1.75;
  min-zoom: 0.8;
  scroll-behavior: smooth;
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border:1px solid red;
}
.checked {
  color: orange;
}
#avg-star{
  text-align: center;
}
.btn{
  color: white;
  font-weight: 500;
  width: 8rem;
  line-height: normal;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.btn:hover{
  color: white;
  font-weight: 600;
}
#welcome-msg{
  margin-top: 5rem!important;
}
.gym-options {
  margin-top: 3.5rem;
  margin-left: 0rem;
}
footer.py-3.bg-dark {
  top: 100vh;
}
.cards{
  font-size: small;
  padding-bottom: 5rem;
}

@media (min-width:1025px) {
  #gym-options{
    height: 85vh;
  }
}
.card-img-top{
  padding: 1rem;
}
.training-options{
  margin-top: 3.5rem;
}
.trening-box{
  margin-top: 3.5rem;
}
