*{
  margin: 0;
  padding: 0;
  max-zoom: 1.75;
  min-zoom: 0.8;
  scroll-behavior: smooth;
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border:1px solid red;
}
.checked {
  color: orange;
}
#avg-star{
  text-align: center;
}
.navbar-toggler{
  margin-left: 5px;
}
.btn{
  color: white;
  font-weight: 600;
  font-size: small;
  width: 6.7rem;
  line-height: normal;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.btn:hover{
  color: white;
  font-weight: 600;
}
#welcome-msg{
  margin-top: 5rem!important;
}
.gym-options {
  margin-top: 3.5rem;
  margin-left: 0rem;
}

footer.py-3.bg-dark {
  top: 100vh;
}
.cards{
  font-size: small;
  padding-bottom: 5rem;
}

@media (min-width:1025px) {
  #gym-options{
    height: 85vh;
  }
}
.card-img-top{
  padding: 1rem;
}
.training-options{
  margin-top: 3.5rem;
}
.trening-box{
  margin-top: 3.5rem;
}
th, td{
  text-align: center;
  vertical-align: middle;
}
p{
  font-size: medium;
}
#contact{
  width:65vw;
}
form i{
  cursor: pointer;
}

/*zvezde*/
.star {
  font-size: x-large;
  width: 40px;
  display: inline-block;
  color: gray;
}
.star:last-child {
  margin-right: 0;
}
.star:before {
  content:'\2605';
}
.star.on {
  color: gold;
}
.star.half:after {
  content:'\2605';
  color: gold;
  position: absolute;
  margin-left: -20px;
  width: 10px;
  overflow: hidden;
}